$black: #2b2a2a;
$black-light: #575454;
$white: #fff;
$grey: #f7f7f7;
$green: #ceeb4c;
$orange: #ecac4b;

$font-base-color-palette: $black;
$font-second-color-palette: $white;

$bg-base-color-palette: $white;
$bg-second-color-palette: $grey;
$bg-third-color-palette: $green;

$button-bg-color: $white;
$button-bg-hover-color: $black-light;
$button-bg-plan-color: $orange;